/* Daniel Fletcher */
/* The Odin Project: Foundations */
/* Landing Page */


/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


/* --- VARIABLES AND GENERAL PROPERTIES --- */
:root {
  /* Color scheme */
  --color-dark: #3E1636;
  --color-light: #FCFAF9;
  --color-accent: #CE2D4F;

  /* Font families */
  --font-body: "Open Sans", sans-serif;
  --font-title: "Lilita One", serif;
}

body {
  font-family: var(--font-body);
  margin: 0;
}

button {
  font-family: var(--font-body);
}

h2 {
  color: var(--color-dark);
  font-family: var(--font-title);
  font-size: 36px;
  font-weight: 400;
}


/* --- NAVIGATION --- */
.navbar {
  background-color: var(--color-dark);
  padding: 16px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--color-light);
  font-size: 20px;
  text-decoration: none;
}

.nav-logo {
  color: #F9FAF8;
  font-family: var(--font-title);
  font-size: 32px;
  font-weight: 400;
}


/* --- HERO --- */
.hero {
  background-color: var(--color-dark);
  padding: 64px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.hero-text {
  max-width: 420px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-main-text {
  color: #F9FAF8;
  font-family: var(--font-title);
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.hero-secondary-text {
  color: var(--color-light);
  font-size: 18px;
}

.hero-button {
  background-color: var(--color-accent);
  border: none;
  border-radius: 8px;
  color: var(--color-light);
  font-size: 18px;
  padding: 8px 16px;
  text-align: center;
}

.hero-img {
  width: 528px;
  height: 320px;
  box-shadow: 5px 7.5px 7.5px black;
}

/* --- RANDOM INFO --- */
.information {
  padding: 12px 0 96px;
  text-align: center;
}

.info-blocks {
  display: flex;
  justify-content: center;
  gap: 128px;
}

.info-block {
  max-width: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-img {
  border: 8.375px double var(--color-dark);
  border-radius: 7.5px;
  height: 192px;
  width: 256px;
}


/* --- INSPIRING QUOTE --- */
.quote, .quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  background-color: var(--color-light);
  padding: 48px 0;
}

.quote-container {
  width: 50%;
}

.quote-quotation {
  align-self: flex-start;
  color: var(--color-dark);
  font-family: var(--font-title);
  font-size: 48px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.quote-text {
  font-size: 18px;
  font-weight: 100;
  margin: 0 32px;
  padding: 0;

  position: relative;
  bottom: 28px;
}

.quote-author {
  align-self: flex-end;
  color: var(--color-dark);
  font-family: var(--font-title);
  font-weight: 400;
  margin: 0;
}


/* --- CALL TO ACTION --- */
.call-to-action {
  padding: 72px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.action-container {
  background-color: var(--color-accent);
  border-radius: 4px;
  color: #F9FAF8;
  padding: 16px 32px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-text, .action-button {
  margin: 0 64px;
}

.action-text:nth-of-type(1) {
  font-family: var(--font-title);
  font-size: 24px;
  font-weight: 400;
}

.action-button {
  background-color: transparent;
  border: 3px solid #F9FAF8;
  border-radius: 12px;
  color: #F9FAF8;
  padding: 8px 16px;
}


/* --- FOOTER --- */
footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  margin: 0;
  padding: 32px;
  text-align: center;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer > p {
  margin: 0;
  padding: 0;
}

.footer-link {
  color: var(--color-light);
}

.footer-link:hover {
  opacity: 75%;
}